@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar-shape {
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  box-shadow: 2px 33px 114px 25px rgba(247, 247, 247, 0.49);
  -webkit-box-shadow: 2px 33px 114px 25px rgba(247, 247, 247, 0.49);
  -moz-box-shadow: 2px 33px 114px 25px rgba(247, 247, 247, 0.49);
}

.herosection-bg-gradient {
  background: radial-gradient(circle at bottom, rgb(66, 66, 66), black);
}

.herosection-bg-image {
  background-image: url("../../public/cybertruck.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  animation: scaleOut 0.5s ease-out forwards;
}

@keyframes scaleOut {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .herosection-bg-image {
    background-size: 180%; /* Slightly zoomed out on small screens */
  }
}

@media (max-width: 480px) {
  .herosection-bg-image {
    background-size: 180%; /* More zoomed out on very small screens */
  }
}

.herosection-transparent-heading {
  color: transparent;
  -webkit-text-stroke: 1px white;
  text-stroke: 1px white;
  mask-image: linear-gradient(to bottom, black, transparent 70%);
  -webkit-mask-image: linear-gradient(to bottom, black, transparent 70%);
}

.slide-down {
  position: relative;
  animation: slideFromTop 0.8s ease-out forwards;
}

@keyframes slideFromTop {
  from {
    transform: translateY(-100%); /* Start outside the screen at the top */
    opacity: 0; /* Optional: Add fade effect */
  }
  to {
    transform: translateY(0); /* End at the original position */
    opacity: 1; /* Full opacity */
  }
}

.slide-up {
  position: relative;
  animation: slideFromBottom 0.8s ease-out forwards;
}

@keyframes slideFromBottom {
  from {
    transform: translateY(150%); /* Start outside the screen at the top */
    opacity: 0; /* Optional: Add fade effect */
  }
  to {
    transform: translateY(0); /* End at the original position */
    opacity: 1; /* Full opacity */
  }
}

.slide-down-delay {
  visibility: hidden;
  opacity: 0;
  position: relative;
  animation: slideFromTopDelay 0.5s ease-out 0.8s forwards;
}

@keyframes slideFromTopDelay {
  from {
    transform: translateY(-100%); /* Start above the viewport */
    opacity: 0; /* Transparent */
  }
  to {
    transform: translateY(0); /* Back to original position */
    opacity: 1; /* Fully visible */
    visibility: visible; /* Make it visible */
  }
}
