@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-shape {
  clip-path: polygon(0 0, 100% 0, 86% 100%, 14% 100%);
}

.herosection-bg-gradient {
  background: radial-gradient(circle at bottom, rgb(66, 66, 66), black);
}
